{
  "auths": {
    "{{ ansible_default_ipv4.address }}:8443": { 
      "auth": "{{ (mirror_registry_user + ':' + mirror_registry_password) | b64encode }}", 
      "email": "admin@repo.local"
    }
  }
}
